.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  font-size: 1.25rem;
  font-weight: 700;
  gap: 12px;

  .title {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 12px;
  }

  .btnContainer {
    margin-top: 12px;
  }

  .matchUpContainer {
    margin-top: 24px;
    min-width: 50%;
  }
}
