.button {
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.secondary {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
}

.buttonLarge {
  font-size: 1.5rem;
}
