.mainContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f7fa;

  .cardStyles {
    align-items: center;
  }

  .title {
    font-size: 2em;
    font-weight: 600;
  }

  .subTitle {
    font-weight: 600;
  }

  .dateInput {
    min-width: 50%;
    font-size: 0.8rem;
    padding: 6px 8px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }

  .btn {
    padding: 12px 24px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .result {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
