.mainContainer {
  height: 100vh;
  max-width: 100vw;
  background: linear-gradient(to left, lightblue, lightgreen);
  font-family: "Courier New", Courier, monospace;
  padding: 36px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-size: 1.15rem;
  box-sizing: border-box;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(41, 41, 219);
}

.notesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: inherit;
  flex-wrap: wrap;
  gap: 2rem;
}

.addNoteBtn {
  width: 250px;
  height: 150px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
  color: gray;
  box-shadow: inset 0 0 5px white;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: rgba(255, 255, 255, 0.7);
  }
}

.addNoteBtnIcon {
  font-size: 2.5rem;
}

.note {
  border-radius: 8px;
  width: 266px;
  height: 142px;
  border-radius: 8px;
  color: darkblue;
  padding: 1rem;
  font-size: 18px;
  outline: none;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  resize: none;

  &:hover,
  &:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 300ms ease;
  }
}
