.mainContainer {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elementContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 48px;
  overflow: hidden;
  box-sizing: border-box;
}
