.scores {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.humanScore,
.computerScore {
  font-size: 1.5rem;
}

.humanScore {
  color: rgb(33, 49, 223);
}

.computerScore {
  color: rgb(226, 29, 29);
}
