.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(41, 139, 106, 0.3);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  .title {
    padding: 0;
    margin: 32px 32px 16px;
    font-size: 2.5rem;
    color: rgb(20, 97, 71);
  }

  .projectList {
    margin: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 12px;
    width: 100%;
  }
}
