.projectListItem {
  position: relative;
  font-size: 20px;
  width: 25%;
  text-align: center;
  background-color: rgb(41, 139, 106);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 1rem 1.25rem;
  gap: 1rem;
  text-decoration: none;

  .itemInfoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    .itemCount {
      color: rgb(41, 139, 106);
      background-color: white;
      padding: 0.25rem 0.5rem;
      font-size: 0.9rem;
      border-radius: 4px;
      font-weight: 600;
    }

    .itemText {
      color: white;
      text-decoration: none;
    }
  }
}

.actionOverlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(41, 139, 106, 0.75);
  height: 100%;
  border-radius: 8px;
}

.actionIcon {
  background-color: white;
  color: rgb(41, 139, 106);
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 800;
  text-align: center;
  opacity: 1;
  cursor: pointer;
}
