.mainContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.47);

  .closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 12px;
    margin-right: 12px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
  }

  .wrapper {
    height: 600px;
    width: 800px;
  }
}
